@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@import "@heroui/styles";

.prose code::before,
.prose code::after {
    content: '' !important;
}

.prose code {
    color: #e85d4a;
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: monospace;
}

.dark .prose code {
    color: #f87171;
}

.prose pre {
    background: transparent;
    padding: 0;
    margin: 0;
}

.dark .prose pre {
    background: rgba(255, 255, 255, 0.05);
}

.prose pre code {
    color: inherit;
    background: transparent;
    padding: 0;
    font-size: inherit;
}

.dark .prose pre code {
    color: inherit;
    background: transparent;
    padding: 0;
    font-size: inherit;
}